<!--<div class=" col-xs-12 col-md-4 col-sm-4" ng-repeat="category in xyz">
    <div class="card">
        <a href="#/products/{{category.name}}"> <img class="card-img-top" src="{{category.image}}"
                                                     alt="Card image cap" width="300" height="250"></a>

        <div class="card-block">

            <a href="#/products/{{category.name}}"><h4 class="card-title">{{category.name}}</h4></a>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#/products/{{category.name}}" class="btn btn-primary view">View</a>
        </div>
    </div>
</div>-->


<div class="col-sm-6 col-md-4 col-lg-3 col-xs-12" ng-repeat="category in xyz">
    <div class="card card-block">
        <img class="card-img-top col-xs-6" alt="100%x180"
             src="{{category.image}}"
             data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
        <div class="card-block">
            <a ui-sref="products({name: category.name})"><h4 class="card-title">{{category.name}}</h4></a>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>

            <a ui-sref="products({name: category.name})" class="btn btn-primary">View</a>
        </div>
    </div>
</div>
