.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.no-js .slides > li:first-child { display: block; }
.flexslider,.flexslider-home,.flexslider-vec, .flexslider-horz-full,.flexslider2,.flexslider-gallery,.flexslider-choose{position:relative; }
.flex-direction-nav{*height: 0;}
.flexslider .slides { zoom: 1; }
.carousel li{margin-right:5px;}

/* Clearfix for the .slides element */
.slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.no-js .slides > li:first-child{display:block;}

.flexslider{position:relative;}
.menu-list-slider .flex-control-nav{display:none;}
.flexslider.home-slides-menu .flex-control-nav{display:none;}

/* Direction Nav */
.flex-direction-nav{position:absolute; width:100%; top:50%; display:block;}
.flex-direction-nav li{ padding:0; margin:0;}
.flex-direction-nav li a{width:34px; height:68px; cursor:pointer; font-size:0; line-height:0; text-indent:-99999px;}
.flexslider .flex-prev{float:left; background:url(../../../../../images/slider-left-arrow.png) no-repeat 0 0; margin:0 0 0 5px;}
.flexslider .flex-next{float:right; background:url(../../../../../images/slider-right-arrow.png) no-repeat right 0; margin:0 5px 0;}

.flexslider.menu-list-slider .flex-direction-nav li a{width:21px; height:76px;}
.flexslider.menu-list-slider .flex-prev{background:url(../../../../../images/menu-slider-l-arrow.png) no-repeat 0 0;}
.flexslider.menu-list-slider .flex-next{float:right; background:url(../../../../../images/menu-slider-r-arrow.png) no-repeat right 0;}

/* Control Nav */
.flex-control-nav{width:auto; position: absolute; bottom:17px; right:20px; float:right;}
.flex-control-nav li{margin:0 0 0 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li a{font-size:0; line-height:0; text-indent:-99999px; width:11px; height:11px; background:url(../../../../../images/circle-bullet.png) no-repeat 0 0; display:block; cursor:pointer;}
.flex-control-nav li a:hover, .flex-control-nav li a.flex-active{background-position:0 -11px;}

/* flexslider */
.flexslider.menu{position:relative; width:100%; float:left; margin:-37px 0 0;}
.flexslider.menu .flex-direction-nav{display:none;}
.flexslider.menu .flex-control-nav{} 


#dnn_ctr506_ContentPane{position:relative;}
.container{position:relative; float:left; width:100%;}
.recent_works_arrows{position:absolute; top:50%; left:0; z-index:9; width:100%;}
.recent_works_arrows a.prev_item{width:21px; height:76px; background:url(../../../../../images/menu-slider-l-arrow.png) no-repeat 0 0; float:left; margin:0 0 0 5px;}
.recent_works_arrows a.next_item{width:21px; height:76px; background:url(../../../../../images/menu-slider-r-arrow.png) no-repeat 0 0; float:right; margin:0 5px 0 0}
.recent_works ul li{width:430px; float:left; margin:0 25px; height:327px; position:relative; z-index:9}